<footer>
    <nav>
        <ul>
            <li>
                <a href="/profile"><div style="background-image: url(<%= ingelogd[0].profilePic %>)"></div></a>
            </li>
            <li>
                <form method="post" action="/logout">
                    <button type="submit" class="btn btn-success">
                        <i class="fas fa-sign-out-alt"></i>
        	        </button>       
                </form>
            </li>
            <li>
                <a href="/favorites"><i class="fas fa-heart"></i></a>
            </li>
            <li id="goBack">
                <i class="fas fa-arrow-left"></i>
            </li>
        </ul>
    </nav>
</footer>