<footer>
    <nav>
        <ul>
            <li>
                <a href="/profile"><div style="background-image: url(<%= ingelogd[0].profilePic %>)"></div></a>
            </li>
            <li>
                <a href="/dashboard"><i class="fas fa-home"></i></a>
            </li>
            <li>
                <a href="/favorites"><i class="fas fa-heart"></i></a>
            </li>
            <li id="goBack">
                <i class="fas fa-arrow-left"></i>
            </li>
        </ul>
    </nav>
</footer>