<form class="zoekBalk" id="zoekBalk" autocomplete="off" method="get" action="">
    <div>
      <input type="text" id="zoekBalkInput" placeholder="Search on gym, location, etc..." name="search">
      <button type="submit" id="zoekBalkEnter"><i class="fas fa-search"></i></button>
    </div> 
</form> 